.App {
  text-align: center;
  height:auto;
  width:100vw;
}

#message{
  color:red;
}



body {
  background-color:rgba(116, 58, 170, 0.514);
}

#root {
  height:100vh;
  display:flex;
  justify-content: center;
  align-items:center;
}

.Auth {
  display:flex;
  flex-direction: column;
  align-items:center;
  height:max(80vh,800px);
  width:80vw;
  background-color:aliceblue;
  border:2px solid black;
  justify-content:center;

}

.register, .login {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.login input {
  width:200px;
}
.register input{
  width:200px;
}

input {
  height:30px;
  margin:20px;
}
h3 {
  font-size:30px;
  font-weight:400;
}


button{
  height:30px;
  width:140px;
  background-color:whitesmoke;
  margin:20px;
  border-radius:20px;
  font-size:20px;
  cursor:pointer;
}

button:hover{
  transform:scale(1.1)
}

.buttons {
  margin-top:30px;


}


.logo{
  width:100px;
  height:100px;
}

.header{
  position:fixed;
  display:flex;
  align-items:center;
  height:100px;
  top:0;
  gap:20px;
  padding-left:30px;
  width:100vw;
  background-color: rgba(114, 98, 98, 0.76);
  flex-direction:row;
  color:white;
}
.topics{
  background-color:rgba(122, 22, 122, 0.705);
  position:fixed;
  top:100px;
  bottom:0;
  width:200px;
  text-align:left;
  font-size:20px;
  color:white;
  overflow-y:scroll;
  overflow-x:hidden;
}



.add-icon{
  width:30px;
  height:30px;
  cursor:pointer;
}

.add-avatar{
  cursor:pointer;
}

ul {
  list-style-type: none;
}
.topic-list{
  cursor:pointer;
  
}


.topic:hover{
  transform:scale(1.2);
  color:greenyellow;
}

.add{
  width:30px;
}

.add-div{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.add-input{
  height:20px;
  margin-top:20px;
}

.red {
  background-color: rgba(255, 0, 0, 0.74);
}
.green{
  background-color: rgba(15, 194, 15, 0.781);
}

.add-input-div{
  margin-top:20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.profile {
  height:40px;
  width:40px;
  border-radius:50%;
  object-fit: cover;
}

.chat
{
  background-color:ghostwhite;
  position:fixed;
  top:100px;
  bottom:100px;
  left:200px;
  width:100%;
  overflow-y: scroll;
  text-align:left;
  padding:10px;
}

.message {
  display:flex;
  flex-direction:row;
  background-color:white;
  height:auto;
  width:65%;
  margin:30px;
  padding:7px;
  border-radius:10px;
}

.message-content{
  padding:7px;
  margin:30px;
  font-weight:360;
  
}


.user-div{
  display:flex;
  flex-direction:row;
  gap:10px;
  align-items:center;
}
.user-name, .time{
  font-size:18px;
  font-weight:300;
  height:5px;
}
.avatar{
  height:45px;
  width:45px;
  border-radius:50%;
  object-fit: cover;
}

.send{
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items: center;
  position:fixed;
  left:200px;
  bottom:0;
  background-color:gainsboro;
  height:100px;
  width:100%;
}

.message-input{
  width: 40%;
  height:50px;
}

textarea{
  margin:0 20px;
  border:none;
}


